<div id="container">
    <div id="imagem">
        <img src = {{urlImagem}}/>
    </div>
    <div id="conteudo">
        <p id="nome"><span>nº{{idPokemon}} </span>{{nomePokemon}}</p>
    <ul style="padding:0;">
        <div style="display:inline-block;" *ngFor="let tipo of tiposPokemon">
            <li style="display:inline-block;" [ngClass]="[tipo,'tipo']">
                    {{tipo | traduzTipo}}
            </li>
        </div>
    </ul>

    Altura: {{alturaPokemon}}
    Peso: {{pesoPokemon}}
    </div>
</div>