@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    width: 70%;
    margin: 20px auto 5px auto;
    border-radius: 5px 5px 50px 5px;
    justify-content: space-between;
}

#nome-pokemon {
    margin: 0px;
}

#descricao-pokemon{
    margin: 0;
}

#tipo-pokemon {
    margin: 15px 0px;

    div + div{
        margin-left: 5px;
    }
}

#num-pokemon {
    display: flex;
    margin-top: 7px;
}

#conteudo-pokemon {
    width: 70%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 20px 50px;
    background-color: white;
}

.conteudo {
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
}

#nomes-dados-container {
    width: 20%;
    display: flex;
    flex-flow: column wrap;
}

#valores-dados-container {
    width: 60%;
    display: flex;
    padding-left: 4px;
    flex-flow: column wrap;
}

#nome {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

#imagem-pokemon img{
    width:300px;
    margin: 0 auto;
    display: block;
}

#imagem-pokemon {
    margin: 0 auto;
}

#main-nav {
    display: flex;
    justify-content: space-between;

}

.navItemSelecionado {
    border-width: 0px 0px 2px 0px !important;
    border-color: black !important;
    border-style: solid !important;
}


#main-nav div {
    cursor: pointer;
    border-width: 0px 0px 2px 0px;
    border-style: none;
    border-color: transparent;
    padding: 20px 0px;
    transition: border-color .5s;
}

.tipo {
    font-size:12px;
    color: white;
    font-weight: bolder;
    border-radius: 30px;
    width:50px;
    padding: 3px;
    text-align: center;
    // Falta colocar border no texto
}

.flying {
    --primary: #79A4FF;
    background-color: #79A4FF;
}

.normal {
    --primary: #BCBCAE;
    background-color: #BCBCAE;
}

.fire {
    --primary: #FA5543;
    background-color: #FA5543;
}

.grass {
    --primary: #8DD851;
    background-color: #8DD851;
}

.water {
    --primary: #56AEFF;
    background-color: #56AEFF;
}

.fighting {
    --primary: #A85645;
    background-color: #A85645;
}

.poison {
    --primary: #A65B9E;
    background-color: #A65B9E;
}

.ground {
    --primary: #E5C654;
    background-color: #E5C654;
}

.rock {
    --primary: #CBBB71;
    background-color: #CBBB71;
}

.bug {
    --primary: #C2D21F;
    background-color: #C2D21F;
}

.ghost {
    --primary: #7773D3;
    background-color: #7773D3;
}

.electric {
    --primary: #FDE53C;
    background-color: #FDE53C;
}

.psychic {
    --primary: #FA65B5;
    background-color: #FA65B5;
}

.ice {
    --primary: #96F1FF;
    background-color: #96F1FF;
}

.dragon {
    --primary: #8A76FF;
    background-color: #8A76FF;
}

.dark {
    --primary: #8E6955;
    background-color: #8E6955;
}

.steel {
    --primary: #C4C2DA;
    background-color: #C4C2DA;
}

.fairy {
    --primary: #FAADFF;
    background-color: #FAADFF;
}

.fairy {
    --secondary: #FAADFF;
    background-color: #FAADFF;
}

.steel {
    --secondary: #C4C2DA;
    background-color: #C4C2DA;
}

.dark {
    --secondary: #8E6955;
    background-color: #8E6955;
}

.dragon {
    --secondary: #8A76FF;
    background-color: #8A76FF;
}

.ice {
    --secondary: #96F1FF;
    background-color: #96F1FF;
}

.psychic {
    --secondary: #FA65B5;
    background-color: #FA65B5;
}

.electric {
    --secondary: #FDE53C;
    background-color: #FDE53C;
}

.ghost {
    --secondary: #7773D3;
    background-color: #7773D3;
}

.bug {
    --secondary: #C2D21F;
    background-color: #C2D21F;
}

.rock {
    --secondary: #CBBB71;
    background-color: #CBBB71;
}

.ground {
    --secondary: #E5C654;
    background-color: #E5C654;
}

.poison {
    --secondary: #A65B9E;
    background-color: #A65B9E;
}

.fighting {
    --secondary: #A85645;
    background-color: #A85645;
}

.water {
    --secondary: #56AEFF;
    background-color: #56AEFF;
}

.grass {
    --secondary: #8DD851;
    background-color: #8DD851;
}

.fire {
    --secondary: #FA5543;
    background-color: #FA5543;
}

.normal {
    --secondary: #BCBCAE;
    background-color: #BCBCAE;
}

.flying {
    --secondary: #79A4FF;
    background-color: #79A4FF;
}

.gradient {
    background-image: linear-gradient(var(--primary), var(--secondary));
}
